<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="action.emit()" [color]="color">
    <ion-icon [name]="icone"></ion-icon>
  </ion-fab-button>
  <ng-content></ng-content>
</ion-fab>