<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Edition Véhicule</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
  
  <form [formGroup]="vehiculeForm">
  
    <ion-list lines="full" class="ion-no-margin">
			<ion-list-header lines="full">
				<ion-label> Déclaration de Véhicule </ion-label>
			</ion-list-header>
			<ion-item>
				<ion-label>Type</ion-label>
				<ion-select formControlName="type" value="notifications" interface="action-sheet">
					<ion-select-option value="voiture">Voiture</ion-select-option>
					<ion-select-option value="moto">Moto</ion-select-option>
					<ion-select-option value="mobylette">Mobylette</ion-select-option>
					<ion-select-option value="velo">Vélo</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label position="floating">Nom</ion-label>
				<ion-input formControlName="name" ></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="floating">Marque</ion-label>
				<ion-input formControlName="brand" ></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="floating">Modèle</ion-label>
				<ion-input formControlName="model" ></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>Année MES</ion-label>
				<ion-input formControlName="year" placeholder="YYYY" type="number"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>Date d'acquisition</ion-label>
				<ion-datetime formControlName="acquisitionDate" placeholder="Choisir une date"></ion-datetime>
			</ion-item>
			<ion-item>
				<ion-label>Utilisable</ion-label>
				<ion-toggle formControlName="roulant" slot="end" color="success"></ion-toggle>
			</ion-item>
		</ion-list>
  
  </form>
  
</ion-content>

<app-fab-button
	(action)="onSubmit()"
	color="success"
	icone="checkmark"
></app-fab-button>
