<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Véhicules</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="vehicules.length > 0; else emptyList">
    <ion-list-header>
      Collection
    </ion-list-header>

    <ion-item *ngFor="let vehicule of vehicules" (click)="goDetails(vehicule)">
      <app-icon-type-vehicule slot="start" [typeVehicule]="vehicule.type"></app-icon-type-vehicule>
      <ion-label>
        <h2>{{vehicule.name}}</h2>
        <h3>{{vehicule.brand}} - {{vehicule.model}} - {{vehicule.year}}</h3>
      </ion-label>
    </ion-item>

  </ion-list>

  <ng-template #emptyList > 
    <h3 id="liste-vide">Aucun véhicule enregistré</h3>
  </ng-template>

</ion-content>


<app-fab-button (action)="editionVehicule()" color="primary" icone="add"></app-fab-button>

