<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Détails Véhicule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <!-- Photos -->
    <ion-img *ngIf="false" src="assets/img/4l.jpg"></ion-img>

    <!-- Détails -->
    <ion-card-header>
      <ion-card-subtitle>{{vehicule.brand}} - {{vehicule.model}} - {{vehicule.year}}</ion-card-subtitle>
      <ion-card-title>{{vehicule.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Véhicule acheté en : {{ vehicule.acquisitionDate | date}}<br>

      <ion-chip [color]="vehicule.roulant ? 'success' : 'danger'">
        <ion-label>Etat de marche</ion-label>
        <ion-icon [name]=" vehicule.roulant ? 'checkmark-done-circle' : 'close-circle'"></ion-icon>
      </ion-chip>

    </ion-card-content>
  </ion-card>

  <!-- Kilométrage -->
  <ion-card *ngIf="vehicule.mileages">
    <ion-card-header>
      <ion-card-subtitle>Dernier kilométrage enregistré : {{vehicule.mileages[vehicule.mileages.length - 1].value}} km </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  
  <!-- Rappels -->
  
  <!-- Réparations -->
  
  <!-- Caractéristiques -->

</ion-content>

<app-fab-button color="medium" icone="ellipsis-vertical">

  <ion-fab-list side="top">
    <ion-fab-button color="light" (click)="editVehicule()">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" (click)="presentSetMileage()">
      <ion-icon src="/assets/road.svg"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="danger" (click)="deleteVehicule()">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>

</app-fab-button>
